[Unit]
Description=uwsgi serving behalter
After=network.target

[Service]
User=behalter
Group=www-data
WorkingDirectory=/home/behalter/app/
Environment="PATH=/home/behalter/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target
