[Unit]
Description=uwsgi serving behalter
After=network.target

[Service]
User=behalter
Group=www-data
WorkingDirectory=/opt/behalter
Environment="PATH=/home/behalter/ PYTHON PKGS"
ExecStart= PY UWSGI --ini uwsgi.ini

[Install]
WantedBy=multi-user.target
