body {
  margin-bottom: 4rem;
  background: #d19f62;
}
h1 {
  margin-bottom: 0;
  color: #261e1e;
  font-family: serif;
}
#wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-template-rows: masonry;
  grid-gap: 1rem;
  margin: 0;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
#add-dialog {
  background: antiquewhite;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  width: 70%;
}
#add-table {
  display: table;
  width: 100%;
}
#add-table > div {
  display: table-row;
}
#add-table > div > input, #add-table > div > textarea {
  display: table-cell;
  width: 98%;
}
#add-table > div > label {
  display: table-cell;
  table-layout: fixed;
  width: 12%;
}
.item {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  background: #F7F794;
  border-radius: 2px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 0;
}
.note {
  font-size: 16px;
}
textarea {
  font-family: serif;
  font-size: 14px;
}
.tags > span {
  margin: 0 8px 5px 0;
  border: 2px dotted gray;
  padding: 3px;
}
.tags {
  display:flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  font-size: 15px;
}
.meta {
  margin: 5px 0 0 auto;
  font-size: 13px;
}
.meta > span {
  margin-left: 3px;
  padding: 3px;
}
.edit:hover, .delete:hover {
  cursor: pointer;
}
.delete:hover {
  color: #fc1111;
}
.edit:hover {
  color: #006ddb;
}
.edit, .delete {
  text-decoration: underline;
}
details:hover {
  cursor: pointer;
}
