body {
  margin-bottom: 4rem;
  background: #d1a773;
}
h1, h1 > a, h1 > a:visited {
  margin-bottom: 0;
  color: #261e1e;
  font-family: serif;
  text-decoration: none;
}
#wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: masonry;
  grid-gap: 0.5rem;
  margin: 0;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
#add-dialog {
  background: antiquewhite;
  padding: 0.6em;
  border-radius: 10px;
  border: 2px solid black;
}
#add-dialog > summary > form {
  display: inline;
}
#add-table {
  display: table;
  width: 100%;
  margin-top: 8px;
}
#add-table > div {
  display: table-row;
}
#add-table > div > input, #add-table > div > textarea {
  display: table-cell;
  width: 98%;
}
#add-table > div > label {
  display: table-cell;
  table-layout: fixed;
  width: 12%;
}
.item {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  background: #FAFA8FEB;
  border-radius: 2px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 0;
}
.note {
  font-size: 16px;
}
textarea {
  font-family: sans-serif;
  font-size: 14px;
}
.tags > span {
  margin: 0 8px 5px 0;
  border: 2px dotted gray;
  padding: 3px;
}
.tags {
  display:flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  font-size: 15px;
}
.tagsediting {
  border: 1px dashed silver;
  background: lightyellow;
  padding: 6px;
  font-size: 16px;
}
.meta {
  margin: 5px 0 0 auto;
  font-size: 13px;
}
.meta > span {
  margin-left: 3px;
  padding: 3px;
}
.edit:hover, .delete:hover, details:hover, .tags > span:hover, button:hover {
  cursor: pointer;
}
.delete:hover {
  color: #fc1111;
}
.edit:hover {
  color: #006ddb;
}
.edit, .delete {
  text-decoration: underline;
}
.detail {
  font-size: 0.8em;
  color: #4d4d4d;
}
.editing {
  border: 1px dashed silver;
  background: lightyellow;
  padding: 6px;
}
#search {
  padding-left: 0.3em;
  margin-left: 0.3em;
  width: calc(100% - 13em);
}
@media only screen and (min-width: 800px) {
  #add-dialog {
    width: 60%;
    text-align: center;
    margin: auto;
  }
  #add-table > div > label {
    text-align: left;
  }
  h1 {
    text-align: center;
  }
}
