<div class="item">
  <a class="link" href='{{ bm["currentlink"] }}'>{{ bm["title"] }}</a>
  <span class="detail">{{ bm["detail"] }}</span>
  <p class="note">{{ bm["note"] }}</p>
  <div class="tags">
    {% if bm["tags"] | length %}
      {% for tag in bm["tags"].split(" ") %}
      <span onclick="filterbytag(this)">{{ tag }}</span>
      {% endfor %}
    {% endif %}
  </div>
  <div class="meta">
    <span class="edit" onclick="startedit(this)">edit</span>
    <span class="delete" data-title='{{ bm["title"] }}' data-id='{{ bm["id"] }}' onclick="deletebm(this)">delete</span>
    <span>added: {{ bm["created"] | unix_to_date }}</span>
    <span>id: {{ "%04d" % bm["id"] }}</span>
  </div>
</div>
