<!DOCTYPE html>
<html lang="en">
  <head>
    <title>behalter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <script async src="{{ url_for('static', filename= 'script.js') }}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>behalter</h1>
    <br>
    <details id="add-dialog">
      <summary>add new or search <form action="search"><input type="text" id="search" name="q" placeholder="query" required></form></summary>
        <div id="add-table">
        <div>
        <label for="new-link">link: </label>
        <input type="text" id="new-link" name="link" placeholder="source link" onfocusout="getlinkinfo()" required>
        </div>
        <div>
        <label for="new-note">note: </label>
        <textarea rows="3" id="new-note" name="note" placeholder="add a note"></textarea>
        </div>
        <div>
        <label for="new-title">title: </label>
        <input type="text" id="new-title" name="title" placeholder="title" required>
        </div>
        <div>
        <label for="new-detail">detail: </label>
        <textarea rows="2" id="new-detail" name="detail" placeholder="detailed text"></textarea>
        </div>
        <div>
        <label for="new-tags">tags: </label>
        <input type="text" id="new-tags" name="new-tags" placeholder="tags separated by spaces">
        </div>
        </div>
        <br>
        <button onclick="send()">add bookmark</button>
    </details>
    <br>
    <div id="wrapper">
      {% for bm in bookmarks %}
      <div class="item">
        <a class="link" href='{{ bm["currentlink"] }}'>{{ bm["title"] }}</a>
        <span class="detail">{{ bm["detail"] }}</span>
        <p class="note">{{ bm["note"] }}</p>
        <div class="tags">
          {% for tag in bm["tags"].split(" ") %}
          <span>{{ tag }}</span>
          {% endfor %}
        </div>
        <div class="meta">
          <span class="edit" onclick="edit()">edit</span>
          <span class="delete" onclick="delete()">delete</span>
          <span>added: {{ bm["created"] | unix_to_date }}</span>
          <span>id: {{ "%04d" % bm["id"] }}</span>
        </div>
      </div>
      {% endfor %}
  </body>
</html>
