<!DOCTYPE html>
<html lang="en">
  <head>
    <title>bookmarks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <script async src="{{ url_for('static', filename= 'script.js') }}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div>
      <details>
        <summary>add new bookmark</summary>
          <div id="add-dialog"> 
          <div>
          <label for="new-link">link: </label>
          <input type="text" id="new-link" name="link" placeholder="source link">
          </div>
          <div>
          <label for="new-description">description: </label>
          <input type="text" id="new-description" name="description" placeholder="description">
          </div>
          <div>
          <label for="new-title">title: </label>
          <input type="text" id="new-title" name="title" placeholder="title">
          </div>
          <div>
          <label for="new-note">note: </label>
          <textarea rows="4" cols="50" form="create-new" id="new-note" name="note" placeholder="add a note"></textarea>
          </div>
          <div>
          <label for="new-tags">tags: </label>
          <input type="text" id="new-tags" name="new-tags" placeholder="tags separated by spaces">
            
          </div>
          <br>
        <button onclick="send()">add bookmark</button>
          </div>
    </div>
    <!--- divider --->
    <br><br><br>
    <div id="bm-container">
      {% for bm in bookmarks %}
      <div class="item">
        <a class="link" href='{{ bm["currentlink"] }}'>{{ bm["title"] }}</a>
        <div class="note">
          <p>{{ bm["note"] }}</p>
        </div>
        <div class="tags">
          {% for tag in bm["tags"].split(" ") %}
          <span>{{ tag }}</span>
          {% endfor %}
        </div>
        <div class="meta">
          <span class="edit" onclick="edit()">edit</span>
          <span class="delete" onclick="delete()">delete</span>
          <span>added: {{ bm["created"] | unix_to_date }}</span>
          <span>id: {{ "%04d" % bm["id"] }}</span>
        </div>
      </div>
      {% endfor %}
  </body>
</html>
