<div class="item">
  <a class="link" href='{{ bm["currentlink"] }}'>{{ bm.title }}</a>
  <span class="detail">{{ bm.detail }}</span>
  <p class="note">{{ bm.note }}</p>
  <div class="tags">
    {% if bm.tags | length %}
      {% for tag in bm.tags %}
      <span onclick="filterbytag(this)">{{ tag.name }}</span>
      {% endfor %}
    {% endif %}
  </div>
  <div class="meta">
    <span class="edit" onclick="startedit(this)">edit</span>
    <span class="delete" data-title='{{ bm["title"] }}' data-id='{{ bm["id"] }}' onclick="deletebm(this)">delete</span>
    <span>added: {{ bm.created | datetime_to_human }}</span>
    <span>id: {{ "%05d" % bm.id }}</span>
  </div>
</div>
